# profile for login shell, source by .bash_profile and linked by .zprofile
# set variables or init environment when login
# profiles mainly are used to load environment variables.
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
unset LC_CTYPE
export SSH_KEY_PATH=${HOME}/.ssh/rsa_id

# silence warning, If invoke the bash shell while macOS Catalina is configured to use a different shell.
export BASH_SILENCE_DEPRECATION_WARNING=1

# export HOMEBREW_PREFIX=${HOMEBREW}
# export HOMEBREW_CELLAR=${HOMEBREW_CELLAR}
# export HOMEBREW_REPOSITORY=${HOMEBREW_REPOSITORY}
# export MANPATH=${HOMEBREW}/share/man:${MANPATH}
# export INFOPATH=${HOMEBREW}/share/info:${INFOPATH}
# export PATH=${HOMEBREW}/bin:${HOMEBREW}/sbin:${PATH}
export PATH=${HOMEBREW_PREFIX}/opt/openssl@1.1/bin:${PATH}
export XML_CATALOG_FILES=${HOMEBREW_PREFIX}/etc/xml/catalog
# opt out of Homebrew’s analytics
export HOMEBREW_NO_ANALYTICS=1

export EDITOR=vi
export VISUAL=vi

# export FZF_DEFAULT_COMMAND='fd --type f'
# follow symbolic links, and include hidden files
export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'
export FZF_DEFAULT_OPTS='--height 60% --layout=reverse --border'
# To apply the command to CTRL-T as well
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

# Use ~~ as the trigger sequence instead of the default **
# export FZF_COMPLETION_TRIGGER='~~'
# Options to fzf command
# export FZF_COMPLETION_OPTS='+c -x'
export FZF_COMPLETION_OPTS='-x'

# 3. ide-level env and tools

# golang
# export GOROOT=$HOME/repo/golang/go
export GOPATH=${HOME}/workspace/go
export PATH=${PATH}:$(go env GOPATH)/bin

# rust
[ -d "${HOME}/.cargo" ] && export PATH="${PATH}:${HOME}/.cargo/bin"

# python
if command -v pyenv 1>/dev/null 2>&1; then
    eval "$(pyenv init -)"
fi

# 3. addtional path or other enviroment variables
# ${HOME}/.local/bin for store local commands, programs and scripts, which maybe run in vim/nvim via "[!!/!}/!G]cmd"
export PATH=${PATH}:${HOME}/.local/bin
